RPC_URL=https://rpc.base.org
CHAIN_ID=8453
RELAYER_PRIVATE_KEY=your_relayer_private_key_here
STAGECOIN_ADDRESS=0xYourDeployedStagecoinHere
PORT=3001

STRIPE_SECRET=sk_test_xxx
STRIPE_PRICE_ID=price_123
STRIPE_WEBHOOK_SECRET=whsec_xxx
