@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-playfair: "Playfair Display", serif;
}

body {
  font-family: "Inter", system-ui, sans-serif;
}

.font-playfair {
  font-family: var(--font-playfair);
}
