SESSIONS_TABLE=StagePortSessions
PRIMITIVES_TABLE=StagePortPrimitives
STATE_TRANSITIONS_TABLE=StagePortStateTransitions
SCORES_TABLE=StagePortScores
RECEIPTS_TABLE=StagePortReceipts
AUDIT_LOG_TABLE=StagePortAuditLog
RECEIPTS_BUCKET=stageport-receipts-prod
